.new-arrival-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.icon-back,
.icon-next {
  font-size: 8rem;
  color: #777;
  cursor: pointer;
  transition: all 0.3s;
}
.icon-back:active,
.icon-next:active {
  transform: scale(0.95);
}
.carousel-item {
  flex: 0 0 auto;
  width: 16rem;
  margin-right: 2rem;
  scroll-snap-align: start;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  animation: slide-in 0.5s ease-in-out forwards;
  cursor: pointer;
}

@keyframes slide-in {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
