<div class="filter-body">
  <h1>Filter Results</h1>
  <hr />
  <h1>Price Ranges</h1>
  <label class="filter"
    >$100 - $150
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >$80 - $100
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >$50 - $80
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >$20 - $50
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >Under $20
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <h1>Style</h1>
  <label class="filter"
    >Classics for Her
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >Elegant
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >Classic for Him
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >Fun
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >Exotic
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <h1>Flower</h1>
  <label class="filter"
    >Roses
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >Daisies
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >Lilies
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >Chrysanthemums
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter"
    >Carnations
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <h1>Colors</h1>
  <label class="filter" style = "color:red"
  >Red
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter" style = "color:purple"
    >Purple
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter" style = "color:green"
    >Green
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter" style = "color:silver"
    >White 
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <label class="filter" style = "color:hotpink"
    >Pink
    <input type="checkbox" />
    <span class="checkmark"></span>
  </label>
  <p class><button>Confirm</button></p>
</div>
