<div class="container-home">
  <div class="container-hero">
    <p class="app-name">Flower Power</p>
  </div>
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#">All</a>
      </li>
      <li class="nav-item">
        <a href="#">Birthday</a>
      </li>
      <li class="nav-item">
        <a href="#">Sympathy</a>
      </li>
      <li class="nav-item">
        <a href="#">Wedding</a>
      </li>
      <li class="nav-item">
        <a href="#">Custom</a>
      </li>
      <li class="nav-item">
        <a href="#">Sale</a>
      </li>
    </ul>
    <div class="search-bar"></div>
  </nav>
</div>
