<div class="container-home">
  <!-- ********************************* -->
  <!-- Section Hero -->
  <!-- ********************************* -->
  <div class="bg-flipped"></div>
  <div class="container-hero">
    <app-main-navigation></app-main-navigation>
    <p class="app-name">Flower Power</p>
  </div>

  <div class="container-body">
    <!-- ********************************* -->
    <!-- Section Navigation -->
    <!-- ********************************* -->
    <nav class="categories-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/all">All</a>
        </li>
        <li class="nav-item">
          <a href="/bd">Birthday</a>
        </li>
        <li class="nav-item">
          <a href="/sympathy">Sympathy</a>
        </li>
        <li class="nav-item">
          <a href="/wedding">Wedding</a>
        </li>
        <li class="nav-item">
          <a href="/custom">Custom</a>
        </li>
        <li class="nav-item">
          <a href="/individuals">Individuals</a>
        </li>
        <li class="nav-item">
          <a href="#">Sale</a>
        </li>
      </ul>
      <div class="container-search">
        <input class="search-bar" rows="1" [(ngModel)]="searchKey" />
        <!-- To use ionicons, run this cmd: ng add @ionic/angular -->
        <ion-icon class="icon-search" name="search-outline"></ion-icon>
      </div>
    </nav>
    <!-- ********************************* -->
    <!-- Section New Arrival -->
    <!-- ********************************* -->
    <section class="section-new-arrival">
      <p class="section-title">New Arrivals</p>
      <div class="carousel-block">
        <app-new-arrival></app-new-arrival>
      </div>
    </section>
    <!-- ********************************* -->
    <!-- Section Pick Your Style -->
    <!-- ********************************* -->
    <div class="new-arrival-block">
      <app-pick-style></app-pick-style>
    </div>
    <!-- ********************************* -->
    <!-- Section Testimonials -->
    <!-- ********************************* -->
    <div class="testimonials-block">
      <app-testimonials></app-testimonials>
    </div>
    <!-- ********************************* -->
    <!-- Section CTA -->
    <!-- ********************************* -->
    <div class="cta-block">
      <app-cta></app-cta>
    </div>
    <!-- ********************************* -->
    <!-- Section Footer -->
    <!-- ********************************* -->
    <div class="footer-block">
      <app-footer></app-footer>
    </div>
  </div>
</div>
