.auth-container {
  height: 3.6rem;
  width: 100%;
  transform: scaleZ(1);
  /* text-align: right; */
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  /* background-color: rgba(255, 255, 255, 0); */
}
.auth {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.btn-login,
.btn-signup,
.btn-logout {
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 11px;
  border: 1px solid #534d6e;
  width: 5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-login {
  background-color: #534d6e;
  color: #fff;
}
.btn-signup {
  background-color: #fff;
  color: #534d6e;
}
.btn-login:hover,
.btn-signup:hover {
  background-color: #3d3754;
  border: 1px solid #3d3754;
  color: #fff;
}
.btn-login:active,
.btn-logout:active,
.btn-signup:active,
.btn-cart:active {
  transform: scale(0.95);
}

.btn-cart {
  color: #534d6e;
  cursor: pointer;
  transition: all 0.5s;
}
.app-logo {
  font-size: 1.8rem;
  color: #333;
  font-family: julee, sans-serif;
  cursor: pointer;
  text-decoration: none;
}
.app-logo:active {
  transform: scale(0.95);
}
