<div class="auth-container">
  <div class="app-logo">Flower Power</div>
  <div class="auth">
    <ion-icon
      name="cart-outline"
      class="btn-cart"
      onClick="location.href='/checkout'"
    ></ion-icon>

    <button
      class="btn-login"
      id="login-button"
      type="button"
      onClick="location.href='/login'"
      *ngIf="!userIsAuthenticated"
    >
      Login
    </button>

    <button
      class="btn-logout"
      id="signup-button"
      type="button"
      (click)="onLogout()"
      *ngIf="userIsAuthenticated"
    >
      Logout
    </button>
    <button
      class="btn-signup"
      id="signup-button"
      type="button"
      onClick="location.href='/signup'"
      *ngIf="!userIsAuthenticated"
    >
      Signup
    </button>
  </div>
</div>
