<section class="section-pick-style">
  <p class="section section-title">Pick Your Style</p>
  <div class="container-styles">
    <div class="style-card" onClick="location.href='/individuals'">
      <div class="img-style">
        <img
          src="../../../assets/pick-your-style/style-1.png"
          alt="flower-individuals"
        />
        <p class="style-name">Individuals</p>
        <div class="benefits">
          <div>
            <ion-icon name="checkmark-outline"></ion-icon>Large-amount discount
          </div>
          <div><ion-icon name="checkmark-outline"></ion-icon>Flexible</div>
        </div>
      </div>
    </div>
    <div class="style-card" onClick="location.href='/all'">
      <div class="img-style">
        <img
          src="../../../assets/pick-your-style/style-2.jpeg"
          alt="flower-bouquet"
        />
        <p class="style-name">Bouquets</p>
        <div class="benefits">
          <div>
            <ion-icon name="checkmark-outline"></ion-icon>Save your time
          </div>
          <div>
            <ion-icon name="checkmark-outline"></ion-icon>Gorgeous Bouquets
          </div>
        </div>
      </div>
    </div>
    <div class="style-card" onClick="location.href='/custom'">
      <div class="img-style">
        <img
          src="../../../assets/pick-your-style/style-3.jpeg"
          alt="flower-custom"
        />
        <p class="style-name">Custom</p>
        <div class="benefits">
          <div>
            <ion-icon name="checkmark-outline"></ion-icon>Style of your choice
          </div>
          <div><ion-icon name="checkmark-outline"></ion-icon>Convenience</div>
        </div>
      </div>
    </div>
  </div>
</section>
