<section class="section-pick-style">
  <p class="section section-title">Pick Your Style</p>
  <div class="container-styles">
    <div class="style-card">
      <div class="img-style">
        <img
          src="../../../assets/pick-your-style/style-1.png"
          alt="flower-individuals"
        />
        <p class="style-name">Individuals</p>
      </div>
    </div>
    <div class="style-card">
      <div class="img-style">
        <img
          src="../../../assets/pick-your-style/style-2.jpeg"
          alt="flower-bouquet"
        />
        <p class="style-name">Bouquet</p>
      </div>
    </div>
    <div class="style-card">
      <div class="img-style">
        <img
          src="../../../assets/pick-your-style/style-3.jpeg"
          alt="flower-custom"
        />
        <p class="style-name">Custom</p>
      </div>
    </div>
  </div>
</section>
