<section class="section section-pick-style">
  <p class="section section-title">Pick Your Style</p>
  <div class="container-styles">
    <div class="style-card">
      <div class="img-style">
        <img
          src="../../../assets/flowers/flower-individuals.png"
          alt="flower-individuals"
        />
        <p class="style-name">Individuals</p>
      </div>
    </div>
    <div class="style-card">
      <div class="img-style">
        <img
          src="../../../assets/flowers/flower-bouquet.jpeg"
          alt="flower-individuals"
        />
        <p class="style-name">Bouquet</p>
      </div>
    </div>
    <div class="style-card">
      <div class="img-style">
        <img
          src="../../../assets/flowers/flower-individuals.png"
          alt="flower-individuals"
        />
        <p class="style-name">Custom</p>
      </div>
    </div>
  </div>
</section>
