<!--Form-->
<form (submit)="onLogin(loginForm)" #loginForm="ngForm">
	<mat-form-field>
		<input matInput name="email" ngModel type="email" #emailInput="ngModel" required email>
		<mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
	</mat-form-field>

	<mat-form-field>
		<input matInput ngModel type="password" name="password" placeholder="password" #passwordInput="ngModel" required>
		<mat-error *ngIf="passwordInput.invalid">Please enter a valid email.</mat-error>
	</mat-form-field>

	<button mat-raised-button type="submit">Login</button>
</form>