.main-nav {
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(121, 110, 168, 0.6),
    rgba(121, 110, 168, 0.45),
    rgba(121, 110, 168, 0.3)
  );
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: flex-start;
}
.individuals-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2rem;
  gap: 5rem;
}
.products-display-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.sort-and-search {
  display: flex;
  gap: 1rem;
  height: 2rem;
  align-items: center;
}
.sort {
  font-size: 0.8rem;
}
.sort select {
  padding: 0.2rem 0.4rem;
  border-radius: 7px;
  cursor: pointer;
}
.sort select:focus {
  outline: none;
}
.container-search {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}
.container-search input {
  /* height: 1.8rem; */
  border-radius: 7px;
  width: 18rem;
  border: 1px solid #000;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  transition: all 0.3s ease-in-out;
}
ion-icon {
  cursor: pointer;
}
.container-search input:focus {
  outline: none;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.4rem;
}
.flower {
  box-shadow: 0 0 30px 5px #e0e0e0;
  border-radius: 9px;
  overflow: hidden;
  padding: 0.6rem 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.flower-name {
  font-size: 0.8rem;
  font-weight: 500;
}
.action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}
.flower-price {
  font-size: 1.2rem;
  font-weight: 500;
}
.action-btn-block {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
}
.action-btn-block ion-icon {
  cursor: pointer;
  font-weight: 400;
  transition: all 0.3s;
  border-radius: 50%;
  padding: 0.3rem;
}
.action-btn-block ion-icon:hover {
  border-radius: 50%;
  background-color: #796ea8;
  padding: 0.3rem;
  font-size: 1.2rem;
}
.action-btn-block ion-icon:active {
  transform: scale(0.95);
}
.description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-size: 0.8rem; */
}
.interaction {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.interaction ion-icon {
  font-size: 0.8rem;
}
.liked {
  margin-right: 0.6rem;
}

.products-selected-container {
  width: 100%;
  border: 1px solid #000;
  border-radius: 9px;
  padding: 1rem 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 30rem;
  overflow: auto;
}
.selected-flower-container {
  padding: 0.4rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: flex-end;
  gap: 0.8rem;
  font-size: 1.1rem;
  font-weight: 300;
  color: #555;
}
.selected-flower {
  width: 6rem;
}
.amount-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.quantity-container {
  display: flex;
  gap: 1rem;
}
.adjust-quantity {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.adjust-quantity ion-icon:hover {
  cursor: pointer;
}
.adjust-quantity ion-icon:active {
  transform: scale(0.95);
}
.quantity {
  font-size: 1.4rem;
  font-weight: 500;
}
.discount-container {
  display: flex;
  gap: 1rem;
}

.cart-btn {
  background-color: #534d6e;
  border-radius: 6px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 10px 18px;
}
.cart-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
