<div class = "container-home">
  <div class="bg-flipped"></div>
  <div class="container-hero">
    <div class="auth-container">
      <div class="app-logo"></div>
      <div class="auth">
        <ion-icon
          name="cart-outline"
          class="btn-cart"
          onClick="location.href='/checkout'"
        ></ion-icon>
        <button
          class="btn-login"
          id="login-button"
          type="button"
          onClick="location.href='/login'"
        >
          Login
        </button>
        <button
          class="btn-signup"
          id="signup-button"
          type="button"
          onClick="location.href='/signup'"
        >
          Signup
        </button>
      </div>
    </div>
    <p class="app-name">Flower Power</p>
  </div>

<div class = "filter-body">
  <h1>Filter Results</h1>
  <hr>
  <h1>Price Ranges</h1>
    <label class= "filter">$100 - $150
      <input type = "checkbox">
      <span class = "checkmark"></span>
    </label>
    <label class= "filter">$80 - $100
      <input type = "checkbox">
      <span class = "checkmark"></span>
    </label>
    <label class= "filter">$50 - $80
      <input type = "checkbox">
      <span class = "checkmark"></span>
    </label>
    <label class= "filter">$20 - $50
      <input type = "checkbox">
      <span class = "checkmark"></span>
    </label>
    <label class= "filter">Under $20
      <input type = "checkbox">
      <span class = "checkmark"></span>
    </label>
  <h1>Style</h1>
  <label class= "filter">Classics for Her
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Elegant
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Classic for Him
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Fun
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Exotic
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <h1>Flower</h1>
  <label class= "filter">Roses
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Daisies
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Lilies
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Chrysanthemums
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Carnations
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <h1>Colors</h1>
  <label class= "filter">Red
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Purple
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Green
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">White
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <label class= "filter">Pink
    <input type = "checkbox">
    <span class = "checkmark"></span>
  </label>
  <p class><button>Confirm</button></p>
</div>



<div class="product-list">
  <!--<h1>Product Display</h1>--> 
  <div *ngFor="let flower of flowers">
      <img src="{{ flower.image_small }}" alt="" />
      <h3 class = "product-name">{{ flower.name }}</h3>
      <p class = "product-price">$$$</p>
    <p class><button>Add to Cart</button></p>
  </div>
</div>


<div class="footer-block">
  <app-footer></app-footer>
</div>