<div class="main-nav">
  <app-main-navigation></app-main-navigation>
</div>

<mat-card class="bg">
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" >
    <div id="column" class="login-container">
        <mat-form-field class="top-form-container" appearance="outline">
          <input
            matInput
            name="email"
            ngModel
            type="email"
            placeholder="E-mail"
            #emailInput="ngModel"
            required
          />
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>

        <mat-form-field class="bottom-form-container" appearance="outline">
          <input
            matInput
            name="pwd"
            ngModel
            type="password"
            placeholder="Password"
            #pwdInput="ngModel"
            required
          />
          <mat-error *ngIf="pwdInput.invalid">Please enter a valid passowrd.</mat-error>
        </mat-form-field>
      <br>
      <button class="btn-login" id="login-button" type="submit">Login</button>
    </div>
  </form>
</mat-card>
