.main-nav {
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(121, 110, 168, 0.6),
    rgba(121, 110, 168, 0.45),
    rgba(121, 110, 168, 0.3)
  );
}

/*Body CSS Stuff*/

.report-info {
  font-size: 2.3rem;
  background-color: #554d76;
  border-radius: 3px;
  margin: 1rem;
  font-family: julee, sans-serif;
  text-align: left;
  color: #fff;
  justify-content: flex-start;
  margin: 0 20rem;
}

h1 {
  font-size: 2.2rem;
}

.earnings-report {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem;
  font-family: sans-serif;
}

.fee-report {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem;
  font-family: sans-serif;
}

.aprox-total {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem;
  font-family: sans-serif;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #fff;
  height: 4px;
}
