<div class="main-nav">
  <app-main-navigation></app-main-navigation>
</div>

<div class="search-container">
  <div class="results-container">
    <p>Showing {{ searchResults.length }} results for "{{ originalSearchKey }}"</p>
  </div>
  <div class="search-form-container">
    <form (ngSubmit)="getSearchKey()" [action]="'/search-page'">
      <div class="container-search">
        <input class="search-bar" rows="1" [(ngModel)]="searchKey" name="q" />
        <button type="submit">
          <ion-icon class="icon-search" name="search-outline"></ion-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="searchResults.length > 0" class="search-results">
  <div *ngFor="let result of searchResults" class="product">
    <a [routerLink]="['/details', result.code]">
      <img class="product-img" [src]="result.image_small" />
      <p class="product-name">{{ result.name }}</p>
    </a>
    <p class="product-description">{{ result.description }}</p>
    <p class="product-price">{{ result.price }}</p>
  </div>
</div>

<div *ngIf="searchResults.length === 0" class="no-results">
  <p>No results found for "{{ searchKey }}"</p>
</div>
