body {
  color:  black;
}
.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.product-description {
  font-size: 14px;
  margin-top: 5px;
}

.search-container {
  margin: 20px;
}

.search-bar {
  margin: 10px;
}

.search-results {
  margin-top: 20px; 
}

.product {
    margin: 50px 0 50px 50px; 

}
