<div class="footer-container">
  <div class="footer-main">
    <p class="footer-app-name">Flower Power</p>
    <div class="footer-logos">
      <ion-icon class="logo" name="logo-instagram"></ion-icon>
      <ion-icon class="logo" name="logo-facebook"></ion-icon>
      <ion-icon class="logo" name="logo-twitter"></ion-icon>
    </div>
  </div>
  <div class="footer-categories">
    <div class="footer-category">
      <p class="category-title">Contact Us</p>
      <p class="category-item">Lubbock, TX</p>
      <p class="category-item">hello@flowerpower.com</p>
      <p class="category-item">469-235-9827</p>
    </div>
    <div class="footer-category">
      <p class="category-title">Company</p>
      <p class="category-item">About Flower Power</p>
      <p class="category-item">Partners</p>
      <p class="category-item">Career</p>
    </div>
    <div class="footer-category">
      <p class="category-title">Resources</p>
      <p class="category-item">Help Center</p>
      <p class="category-item">Privacy & Terms</p>
    </div>
  </div>
</div>
