html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.router {
  height: 100%;
}
