
  <form (submit)="onAddFlower(flowerInfo)" #flowerInfo="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="name"
        ngModel
        required
        minlength="3"
        placeholder="Flower Name"
        #name="ngModel">
      <mat-error *ngIf="name.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        name="color"
        ngModel
        required
        placeholder="Flower Color"
        #color="ngModel"></textarea>
      <mat-error *ngIf="color.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        name="kind"
        ngModel
        required
        placeholder="Flower Kind"
        #kind="ngModel"></textarea>
      <mat-error *ngIf="kind.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        name="occasion"
        ngModel
        required
        placeholder="Occasion"
        #occasion="ngModel"></textarea>
      <mat-error *ngIf="occasion.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Add Flower</button>
  </form>