<div class="section-cta">
  <p class="cta-quote">We’d love to hear from you!</p>
  <form
    class="cta-content"
    (ngSubmit)="submitForm(contactForm)"
    #contactForm="ngForm"
  >
    <div class="cta-contact">
      <div class="name-block">
        <label for="name">Name</label>
        <input
          type="text"
          class="input-name"
          name="name"
          required
          [(ngModel)]="name"
        />
      </div>
      <div class="email-block">
        <label for="email">Email</label>
        <input
          type="email"
          class="input-email"
          name="email"
          required
          [(ngModel)]="email"
        />
      </div>
      <button type="submit" class="btn-cta-submit">Submit</button>
    </div>
    <div class="cta-message">
      <div class="message-block">
        <label for="message">Message</label>
        <textarea
          class="input-msg"
          name="message"
          rows="5"
          required
          [(ngModel)]="message"
        ></textarea>
      </div>
    </div>
  </form>
</div>
