<div class="main-nav">
  <app-main-navigation></app-main-navigation>
</div>

<div class = "container">
  <div class = "left-column">
    <img src="\assets\flower.jpeg">
  </div>
  <div class = "right-column">
    <div class = "product-description">
      <span>MY TRUE LOVE BOUQUET WITH LONG STEMMED ROSES</span>
      <h1>Your devotion, delivered. Surprise your special one with this gorgeous arrangement of one dozen long stem red roses. It's a timeless testimony of your love she won't soon forget.
        Includes one dozen long stem red roses, accented with fresh greens.</h1>
      <p> Delivered in a clear glass vase.</p>
      <div class = "product-price">
        <span>$75.00</span>
        <a class = "cart-btn">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="footer-block">
  <app-footer></app-footer>
</div>
