.main-nav {
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(121, 110, 168, 0.6),
    rgba(121, 110, 168, 0.45),
    rgba(121, 110, 168, 0.3)
  );
}
.container {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 40px;
  display: flex;
  gap: 4rem;
}
.left-column {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* .left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
} */
.product-description {
  margin-bottom: 20px;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.product-description span {
  margin-top: 5%;
  font-weight: 200;
  font-size: 30px;
  transform: scaleZ(1);
  color: #534d6e;
  letter-spacing: 0.1rem;
  text-overflow: ellipsis;
  font-weight: 500;
}
.product-description h1 {
  margin-top: 5%;
  font-weight: 300;
  font-size: 1rem;
  transform: scaleZ(1);
  color: #534d6e;
  letter-spacing: 0.1rem;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  transform: scaleZ(1);
  color: #534d6e;
  letter-spacing: 0.1rem;
  margin-bottom: 30px;
}
.product-price {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 60%;
}
.product-price div {
  font-size: 20px;
  font-weight: 500;
  color: #534d6e;
}
.cart-btn {
  background-color: #534d6e;
  border-radius: 6px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 10px 18px;
}
.cart-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.footer-block {
  width: 100%;
  margin: 0 auto;
}
